/* reset css */
/* Lưu trư trữ các biến */
:root{
    --height_heading : 46.5px;

}
/* common */

/* hàng */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

/* cột */
.colum{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

/* 3 cột */
.third-colum{
    width: calc(100%/3);
}

/* nửa cột */
.half-colum{
    width: calc(100%/2);
}

/* full cột */
.full-colum{
    width: 100%;
}


/* căn giữa */
.center{
    text-align: center;
}






*{
    margin: 0;
    padding: 0;
    /* display: flex; */
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* sau khi dùng float cần có clear để ôm trọn thẻ con */
.clear{
    clear: both;
}

#main{

}
/* search btn thẻ div */


#header{
    /* cho thanh header đứng im */
    /* z - index điều chỉnh độ sâu */
    z-index: 1;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--height_heading);
    background-color: black;
    color: white;


}

#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
/* arrow_down icon */
#nav .nav_arrow_down{
    font-size: 12px;
}
/* danh sach navgition li */
#nav li{
    position: relative;
    display: inline-block;
}
#nav li:hover .subnav{
    min-width: 160px;
    display: block;
}
/* the a */
#nav > li > a{
    text-transform: uppercase;
    color: white;

}
#nav li a{
    text-decoration: none;
    line-height: var(--height_heading) ;
    padding-left: 24px;
    padding-right: 24px;
    
}
/* thuực hiện hành động hover */
#nav .subnav li:hover,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
   display: block;
}
/* the li phu */
#nav .subnav{
    left: 0;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    background-color:#fff;
}

#nav .subnav a{
    line-height: 38px;
    padding-left: 20px;
    color: #000;
}
#header .search_btn{
    padding: 0 21px;
    float:right;
}
#header .search_btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .search_icon {
    padding:14 15;
    line-height: var(--height_heading);
    color: #fff;
    font-size: 20px;
}

#slider{
    /* heigth = 50% width */
    padding-top: 50%;
    height: 400px;
    margin-top: var(--height_heading);
    /* background-color: gray; */
    background: url('/w3_band/assets/img/chicago.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading{
    margin: 25px;
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description{
    /* chỉnh độ đày chữ chạy từ 100->900 */
    
    font-size: 15px;
}

#content{
    height: 500px;
    /* margin: 0 64px; */

}
#content .section-content{
    min-height: 400px;
    width: 800px;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
    /* min-height: 670px; */

}

#content .section-heading{
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#content .section-sub-heading{
    /* chỉnh đậm nhạt màu băng opacity chạy từ 0->1*/
    opacity: 0.6;
    font-style: italic;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;

}

#content .about-content{
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
    line-height: 1.4;
}

/* Member */
#content .member-list{
    margin-top: 48px;
    margin-bottom: 96px;
}

#content .member-name{
    font-size: 15px;
    
}

/* member .image */
#content .member-image{
    width: 154px;
    border-radius: 4px;
    margin-top: 15px;
}

/* tour */
.section-tour{
    background-color: #000;
    color: #fff;

}

/* the ul,li */
.section-tour .ticket{
    margin-top: 20px;
    background-color: #fff;
    list-style-type: none;
}

.ticket li{
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

/* span */
.ticket .sold-out{
    background-color: red;
    color: #fff;
    padding: 4px;
    margin-left: 20px;
}

/* thẻ còn lại */
.ticket .remaining-tickets{
    color: #fff;
    border-radius: 50%;
    width: 24px;
    background-color: #000;
    float: right;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* places */
/* thẻ div chưa tất cả places */
.list-place{
    padding-bottom: 130px;
    margin-right: -8px;
    margin-top: 32px;
    margin-left: -8px;
    

}

/* khung mỗi place */
/* .list-place .section-place{
    padding: 0 8px;
    width: calc(100%/3);
    float :left;
} */

/* ảnh */
.list-place .place-image{
    display: block;
    width: 100%;
}
/* hover anh */
.list-place .place-image:hover{
    opacity: 0.5;
}

/* Khung body dưới ảnh */
.list-place .place-body{
    color: #000;
    font-size: 15px;
    padding: 16px;
    background-color: #fff;

}

.list-place .name-place{
    font-weight: 600;

}

.list-place .time{
    margin-top: 15px;
    opacity: 0.6;

}

.list-place .description{
    margin-top: 15px;
    line-height: 1.4;
    
}

.list-place .js-button-buy-ticket{
    border: none;
    margin-top: 15px;
    /* font-size: 15px; */
    /* text-align: center; */
    display: inline-block;
    width: 110px;
    height: 38px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 11px 16px;
}

.list-place .js-button-buy-ticket:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

/* contact */
.form-contact{
    margin-top: 48px;
}

/* left-row */
.left-row{
    line-height: 1.5;
    font-size: 18px;
}
/* right-row */
.right-row{
    font-size: 15px;
}
/* padding icon */
.form-contact .row i{
    display: inline-block;
    padding-right: 12px;
}
.form-control{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}
.Message-text{
    margin-top: 8px;
}
/* btn-submit */
.btn-submit{
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
}
.btn-submit:hover{
    background-color: #ccc;
    color: #000;
}
.colum.half-colum.right-row {
    margin-bottom: 93px;
}


/* footer */
#footer{
    text-align: center;
    padding: 64px 16px;

}
.image-section .image-map{
    width: 100%;
}
#footer .icon-footer {
    padding: 15px;
    font-size: 22px;
}
#footer .icon-footer a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
p.coppyright {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}
p.coppyright a{
    /* text-decoration: none; */
    color: rgba(0, 0, 0, 0.6);

}

/* class modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

/* tao modal.open khi js bắt sưj iện sẽ gọi đến css này show modal-container */
.modal.open{
    display: flex;
}

/* modal container */
.modal-container {
    max-width: calc(100% - 64px);
    padding-bottom: 12px;
    position: relative;
    background-color: #fff;
    width: 900px;
    /* tao animation */
    animation: modalAnimation ease 0.6s;
}

/* icon close */
.icon-close{
    top: 0;
    right: 0;
    position: absolute;
    padding: 16px;
    color: #fff;
    cursor: pointer;
}
/* hover */
.icon-close:hover{
    background-color: red;
}

/* header */
/* modal header */
.modal-header {
    color: #fff;
    font-size: 30px;
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* icon padding bag */
.icon-header{
    padding-right: 16px;

}
/* body */
.modal-body {
    padding: 16px;
}

label {
    font-size: 15px;
    display: block;
}

/* input text quantity */
.quantity-ticket {
    padding: 8px;
    margin-top: 7px;
    height: 40px;
    width: 100%;
    margin-bottom: 19px;
}
/* input email */
.email {
    padding: 8px;
    margin-top: 7px;
    height: 40px;
    width: 100%;
    margin-bottom: 19px;
}
/* button pay */
.pay {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #009688;
    height: 45px;
    width: 100%;
    border: none;
    color: #fff;
}
.pay:hover{
    opacity: 0.6;
}

/* footer */
.Need-help {
    float: right;
    padding-right: 13px;
}

.Need-help a{
    color: #2196F3;
}


/* Tao chuyen dong */
@keyframes modalAnimation {
    from {
        transform: translateY(-182px);
    }

    to{
        transform: translateY(0px);
    }
}